@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-bg text-primary font-sans antialiased;
    margin: 0;
    min-height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-bg;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-muted rounded-full;
  }
}
